body{
	font-family: "微軟正黑體";
}

hr{
	border-width: 0.5px;
}

i{
	margin-right: 5px;
}

.header_big_icon{
	font-size: 24pt;
	font-weight: bolder;
	padding: 0px 15px 5px 15px;
}

.div_cir_border{
	min-height: 60px;
	padding: 20px 3px 10px 3px !important;
	
	border: 1.5px solid #230903;
	border-radius: 5px;
}

.header_mid_icon{
	font-size: 14pt;
	font-weight: bolder;
	padding: 0px 15px 5px 15px;
}

.card{
	min-height: 60px;
	padding: 20px 8px 10px 8px;
}
