{% extends 'base.html' %}
{% load static %}
{% block title %}後台-個人檔案 | {% endblock %}
{% block style %}
  <style type="text/css">
    .page_header{
      width:100%;

      border-bottom: 6px solid #3e2723;

      font-size: 30pt;
      font-weight: bolder;

    }

    .titleEng{
      font-size: 20pt;
      color: #919191;
      font-weight: normal;
    }

    .course_file-header{
      padding: 3px 10px;
      font-size: 16pt;
      font-weight: bolder;
    }

    .course_file-body{
      padding: 5px 15px;
    }

    .td_header{
      font-size: 12pt;
      font-weight: bolder;
      text-align: center;
    }

    input{
      /*width: 9% !important; 
      margin-left: 20px !important;*/
      /*margin-top: 10px !important;*/
    }

  </style>
{% endblock %}

{% block content %}
  <div class="container" style="padding-top: 30px;">
    
      <!-- ======================= Page Title ======================= -->
      <div class="card row page_header">
          <div class="col s12 m12">
              <div class="">密碼變更 <font class="titleEng">Password Change</font></div>
          </div>
          <div class="col s12 m12" style="font-size: 10pt; font-weight: normal; padding: 8px 20px;">
            此為密碼變更頁面，您可以改變您的登入密碼，確保無第二人悉知。<br>
            This is a password change page. You can change your login password to ensure that no one knows.
          </div>
      </div> 
      <!-- ======================= Page Title ======================= -->


      <!-- ======================= Course Information ======================= -->
      <div class="row">
          <div class="col s12 m12">
            <div class="card">

              <div class="course_file-header">
                <i class="fas fa-list-ul"></i>
                個人資訊
              </div>

              <div class="course_file-body">
                <div class="row" style="padding: 5px 15px;">
                  
                  <div class="col s12 m5" style="text-align: center;">
                    <a href='images/User/1.jpg' target='_blank'><img src='images/User/1.jpg' style='max-width: 200px; max-height: 200px; width: 80%; height: 80%; margin: auto;'/></a>
                  </div>

                  <div class="col s12 m7">
                    <div class="card-action" style="margin-top:15px; border: nooe !important;">
                      <a class="waves-effect waves-light btn-large  blue accent-2" style="width: 100%;"><div style="max-width: 90px; margin: auto; " ><i class="material-icons left" style="margin-right: 0px;">cloud_upload</i>變更照片</div></a>
                    </div>
                    <div class="card-action" >
                      <a class="waves-effect waves-light btn-large  red lighten-1" style="width: 100%;"><div style="max-width: 90px; margin: auto; "><i class="material-icons left" style="margin-right: 0px;">delete_forever</i>移除照片</div></a>
                    </div>
                  </div>


                </div>
              </div>


              <div class="course_file-header">
                <i class="fas fa-list-ul"></i>
                個人資訊
              </div>

              <div class="course_file-body">
                <div class="row" style="padding: 5px 15px;">

                  <div class="input-field">
                    <input disabled class="user_input validate" type="text" value ="{{ user.username }}">
                    <label for="">帳號 Account</label>
                  </div>

                  <div class="input-field">
                    <input disabled class="user_input validate" type="text" value ="{{ user.first_name }}">
                    <label for="">姓名 Name</label>
                  </div>

                  <div class="input-field " style="margin-top: -8px;">
                    <div><font style="color: #a1a1a1; font-size: 7pt;">性別 Gender</font>
                      <p style="margin-left: 20px; margin-bottom: 40px;">
                        <label>
                          <input class="with-gap" name="ra_gender" type="radio" checked="true" />
                          <span>男生 Male</span>
                        </label>
                        <label>
                          <input  class="with-gap"  name="ra_gender" type="radio"" />
                          <span>女生 Female</span>
                        </label>
                      </p></div>

                  </div>

                  <div class="input-field">
                    <input class="user_input " type="text" id="tb_School" name="tb_School" value ="國立臺灣科技大學 National Taiwan University of Science">
                    <label for="tb_School">學校 School</label>
                  </div>

                  <div class="input-field">
                    <input class="user_input " type="text" id="tb_Deparment" name="tb_Deparment" value ="資訊管理系 Department of Information Management">
                    <label for="tb_Deparment">科系 Department</label>
                  </div>

                  <div class="input-field">
                    <input class="user_input validate" type="email" id="tb_Email" name="tb_Email" value ="{{ user.email }}">
                    <label for="tb_Email">信箱 EMail</label>
                  </div>

                  <div class="input-field">
                    <!-- <textarea id="textarea1" class="materialize-textarea"></textarea> -->
                    <textarea id="tb_Autobiography" name="tb_Autobiography" class="materialize-textarea" type="text" style="resize: none; " placeholder="">﻿各位同學好，如果有網站上的使用問題或其他資處專業科目上的問題，有時間我會回答你喔！
                    </textarea>
                    <label for="tb_Autobiography">簡介 Autobiograph</label>
                  </div>

                </div>
              </div>

              <div style="width: 100%; text-align: center; margin: 20px auto;">
                <button class="btn waves-effect waves-light brown darken-4" type="submit" name="action">送出
                  <i class="material-icons right">send</i>
                </button>
                <button class="btn waves-effect waves-light deep-orange lighten-3" type="submit" name="action">取消
                  <i class="material-icons right">cancel</i>
                </button>
              </div>

            </div>

          </div>
      </div>
      <!-- ======================= Course Information ======================= -->

    <br><br>
  </div>
{% endblock %}
{% block script %}
{% endblock%}