{% extends 'base.html' %}
{% load static %}

{% block title %}課程資訊-{{ course.course_name }} | {% endblock %}
{% block style %}
<script type="text/javascript">
    function RESIZE(){
      var w = window.outerWidth;

      if(w <= 901){
        document.getElementById("login_care").classList.remove("horizontal");
        document.getElementById("card-stacked").style.border = "none";
      }else{
        document.getElementById("login_care").classList.add("horizontal");
        document.getElementById("card-stacked").style.borderLeft = "0.3px solid #acacac;";
      }

    }
  </script>

  <style type="text/css">
    .page_header{
      width:100%;

      border-bottom: 6px solid #3e2723;

      font-size: 30pt;
      font-weight: bolder;

    }

      .Login_Container{
        font-size: 11pt !important;
        margin-top: 30px;
      }

      .card-image{
        font-size: 11pt !important;
        margin: auto 15px auto 15px !important;
        text-align: left !important;
        vertical-align: top;
      }
    
      .card-stacked{
        border-left: 0.3px solid #acacac;
      }

      .Login_Title_Che{
        font-size: 16pt;
        font-weight: bolder;
        color: #212121;
      }

      .Login_Title_Eng{
        font-size: 12pt;
        margin-left: 5px;
        color: #9E9E9E;
      }

      .course_file-header{
        padding: 3px 10px;
        font-size: 16pt;
        font-weight: bolder;
      }

      .course_file-body{
        padding: 5px 15px;
      }

  </style>
{% endblock %}

{% block body_tag %}onload="RESIZE();"  onresize="RESIZE()"{% endblock %}

{% block content %}

<div class="container" style="padding-top: 30px;">
  
      <!-- ======================= Page Title ======================= -->
      <div class="card row page_header">
          <div class="col s12 m9">
              <div class="">{{ course.course_name }}</div>
          </div>
          <div class="col s12 m3" style="padding: 5px 10px; text-align: right;"><a class="waves-effect waves-light btn-large orange accent-2" style="box-shadow: none !important;" href="{% url 'courses_files_upload' course.id %}"><i class="material-icons left">attach_file</i>新增檔案</a></div>
      </div> 
      <!-- ======================= Page Title ======================= -->

      <!-- ======================= Course Info ======================= -->
      <div class="row">
          <div class="col s12 m12">
            <div id="login_care" class="card horizontal">
              <div class="card-image" style="width:90%;">
                <p>{{ course.course_discription|safe }}</p>
                   <Br>
                   <a class="waves-effect waves-light btn  orange accent-1">
                     <div href="{{ c.course_website|safe }}" target="_blank">詳細資訊 View details »</div>
                   </a>
              </div>

              <div id="card-stacked" class="card-stacked">
                <div class="card-content">
                  <div class="Login_Title">
                      <p class="Login_Title_Che">課程資訊<span class="Login_Title_Eng">Information</span></p>
                  </div>


                  <div class="Login_Container">
                        <table class="table highlight" style="height: 100%; max-height: 300px;">
                          <tbody>
                            <tr>
                              <th width="120px;">開課單位</th>
                              <td>{{ course.course_administrator }}</td>
                            </tr>
                            <tr>
                              <th>課程名稱</th>
                              <td>{{ course.course_name }}</td>
                            </tr>
                            <tr>
                              <th>授課教授</th>
                              <td>{{ course.course_teacher }}</td>
                            </tr>
                            <tr>
                              <th>選修類型</th>
                              <td>{{ course.course_type }}</td>
                            </tr>
                          </tbody>
                        </table>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ======================= Course Info ======================= -->

      <!-- ======================= Course File (Handout) ======================= -->
      <div class="row">
          <div class="col s12 m12">
            <div class="card">

              <div class="course_file-header">
                <i class="fas fa-list-ul"></i>
                課程講義
              </div>

              <div class="course_file-body">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table  ">
                  <tbody>﻿</tbody>
                </table>
              </div>

            </div>
          </div>
      </div>
      <!-- ======================= Course File (Handout) ======================= -->

      <!-- ======================= Course File (Homework) ======================= -->
      <div class="row">
          <div class="col s12 m12">
            <div class="card">

              <div class="course_file-header">
                <i class="fas fa-book"></i>
                課程作業
              </div>

              <div class="course_file-body">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table  ">
                  <tbody>﻿</tbody>
                </table>
              </div>

            </div>
          </div>
      </div>
      <!-- ======================= Course File (Homework) ======================= -->


      <!-- ======================= Course File (Exam) ======================= -->
      <div class="row">
          <div class="col s12 m12">
            <div class="card">

              <div class="course_file-header">
                <i class="fas fa-pencil-alt"></i>
                課程考試
              </div>

              <div class="course_file-body">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table  ">
                  <tbody>﻿﻿﻿
                    {% for file in files %}
                    ﻿﻿<tr>
                      <td colspan=2>
                        <i class="fas fa-file-powerpoint" style="margin-right: 8px;"></i>
                        <a  href="{{ file.cfile.url }}" target="_blank">{{ file.cfile_content }}</a></td>
                      <td style="text-align: right;">{{ file.cfile.size|filesizeformat }}</td>
                    </tr>﻿
                    {% endfor %}
                  </tbody>
                </table>
              </div>

            </div>
          </div>
      </div>
      <!-- ======================= Course File (Exam) ======================= -->


    <br><br>
  </div>
{% endblock %}