{% extends 'base.html' %}
{% load static %}
{% block title %}課程清單 | {% endblock %}

{% block style %}

<style type="text/css">
    th,td{
			vertical-align: middle !important;
		}
		
		.li_cir{
/*			 line-height:  !important; */
			height: 8px !important;
		}
		
		@media screen and (max-width: 992px) {
			.div_cir_border{
				margin-left: 0px !important;
				margin-right: 0px !important;
			}
		}
		
		a{
			color: #230903;
		}
		
		a:hover{
			text-decoration: none !important;
			color: #a37b75;
		}
		
		.searchBar{
			border: 3px dashed#230903;
			border-radius: 5px;
			margin: 50px 5% 30px 5% !important;
			padding: 15px 25px;
			
			width: 90%;
		}
		
		select{
			width:100%; 
			padding: 8px 15px; 
			border-radius:5px;
			
			margin-bottom: 20px;
		}

		.fileCount{
			font-size: 9pt;
			color: #5c5c5c;
		}

		.course_list_one{
			padding-top: 10px;
			margin-bottom: 10px;
			border-bottom: 0.1px solid #eeeeee;
		}
  </style>
{% endblock %}

{% block content %}
<div class="container" style="padding-top: 30px;">
    
      <div class="row">
          <div class="col s12 m12">
            <div class="card" style="min-height: 700px;">
              
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">課程清單<i class="material-icons right">search</i></span>
                <hr>
                {% widthratio courses|length 10 1 as Page %}

                {% for course in courses %}
                <div class="course_list_one"{% if forloop.counter > 10 %} style="display: none;{% endif %}">
                  <div class="header_mid_icon">
                    <i class="fas fa-bookmark" style="margin-right: 10px;"></i>
                    <a href="{% url 'courses_detail' course.id %}">【{{ course.course_administrator }}】 {{ course.course_name }}</a>
                  </div>

                  <div style="margin-left:50px; padding-bottom:15px;">
                    <div class="header_small_icon" style="font-weight: normal;">任課教師：{{ course.course_teacher }}</div>
                    <br>
                    <div class="fileCount">課程檔案數：{{ course.file_count }} 份</div>
                  </div>
                </div>
                {% endfor %}
                
                
                  
                
                <div style="margin-top: 30px; width: 100%; text-align: center;">
                  <ul class="pagination">
                    <li class="disabled" id="prev"><a onclick="pageControler(-1)"><i class="material-icons">chevron_left</i></a></li>
                    {% for i in "x"|ljust:Page %}
                    <li id="pageNum{{ forloop.counter }}" class="jsusing waves-effect{% if forloop.counter == 1 %} active brown darken-1{% endif %}"><a onclick="pageControler({{ forloop.counter }})">{{ forloop.counter }}</a></li>
                    {% endfor %}
                    <li class="waves-effect" id="next"><a onclick="pageControler(0)"><i class="material-icons">chevron_right</i></a></li>
                  </ul>
                </div>

              </div>
              <div class="card-reveal">
                <span id="bt_search" class="card-title grey-text text-darken-4">條件搜尋<i class="material-icons right">check</i></span>
                <p>請在此輸入相關資訊，以利搜尋到欲查找的課程資料。</p>
                <hr>
                
                <div><font style="color: #a1a1a1; font-size: 9pt;">篩選準則</font>
                  <p style="margin-left: 20px; margin-bottom: 40px;">
                    <label>
                      <input class="with-gap" name="ra_gender" type="radio" checked="true" value="admin" />
                      <span>開課單位 Course_Administrator</span>
                    </label>
                    <label>
                      <input class="with-gap" name="ra_gender" type="radio" value="name" />
                      <span>課程名稱 Course_Name</span>
                    </label>
                    <label>
                      <input class="with-gap" name="ra_gender" type="radio" value="teacher" />
                      <span>授課教師 Course_Teacher</span>
                    </label>
                  </p>
                </div>

                <div class="input-field" style="">
                  <input class="user_input validate" id="search_Name" name="search_Name" type="text" placeholder="">
                  <label for="search_Name">關鍵字</label>
                </div>
              </div>
            </div>
          </div>
      </div> 
    <br><br>
  </div>
  <form id="form_search" style="display: none;" action="{% url 'courses' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="mode" id="mode">
    <input type="text" name="condition">
  </form>
{% endblock %}

{% block script %}
<script type="text/javascript">
  $("#bt_search").click(function(){
    $("input[name='mode']").val($("input[name='ra_gender']:checked").val());
    $("input[name='condition']").val($("#search_Name").val());
    $("#form_search").submit();
  });


  function pageControler(e) {
    var target = document.getElementsByClassName("course_list_one");
    // 抓取目前頁數
    var total = document.getElementsByClassName("jsusing").length;
    var old = document.getElementsByClassName("active brown")[0].childNodes[0].text;
    var now = parseInt(document.getElementsByClassName("active brown")[0].childNodes[0].text);
    // 確定你按的是什麼
    if (e > 0) {
      // 頁數
      if (e == now) return;
      // 將 Active 
      now = e;
    } else if (e == 0 || e == -1) {
      if ((e == 0 && now==total ) || (e==-1 && now==1)) return;
      if (e==-1) {
        now -= 1;
      } else if (e==0){
        now += 1;
      }
    } else {
      return;
    }
    var elem = document.getElementById("pageNum"+old);
    elem.classList.remove('active');
    elem.classList.remove('brown')
    elem.classList.remove('darken-1')
    // 修改顯示的 div 從第 (now-1)*10 +1 ~ (now-1)* 10 + 10
    for (var i = 0; i < target.length; i++) {
       target[i].style.display = "none";
    }
    for (var i = (now-1)*10; i<=(now-1)*10+9;i++) {
      target[i].style.display = "block";
    }
    // 修改頁數的 active 和 前後的 wave effects
    document.getElementById("prev").classList.remove('disabled')
    document.getElementById("prev").classList.add('waves-effect')
    document.getElementById("next").classList.remove('disabled')
    document.getElementById("next").classList.add('waves-effect')
    if (now == 1) { // 第一頁
      document.getElementById("prev").classList.add('disabled')
      document.getElementById("prev").classList.remove('waves-effect')
    } else if (now == total) { // 最後一頁
      document.getElementById("next").classList.add('disabled')
      document.getElementById("next").classList.remove('waves-effect')
    }
    var elem = document.getElementById("pageNum"+now);
    elem.classList.add('active');
    elem.classList.add('brown');
    elem.classList.add('darken-1');
  }
</script>
{% endblock%}