{% extends 'base.html' %}
{% load static %}

{% block title %}登入 | {% endblock %}

{% block style %}
<script type="text/javascript">
    function RESIZE(){
      var w = window.outerWidth;

      if(w <= 901){
        document.getElementById("login_care").classList.remove('horizontal');
      }else{
        document.getElementById("login_care").classList.add('horizontal');
      }

    }
  </script>

  <style type="text/css">
    .card img{
      max-width: 400px;
      margin: auto;
    }

    .loginPanel{
        text-align: center;
        
        background-color:#fff;
        width:50%;
        height:500px;
        min-width: 300px !important;
        
        margin:20px auto 30px auto;
        
        border-radius: 10px;
        border-top: 1px solid transparent;;
        box-shadow: 0 0 15px #efeded;
      }

      .Login_Title{
        padding-bottom: 3px;
        border-bottom: 6px solid #5D4037;
      }

      .Login_Title_Che{
        font-size: 16pt;
        font-weight: bolder;
        color: #212121;
      }

      .Login_Title_Eng{
        font-size: 12pt;
        margin-left: 5px;
        color: #9E9E9E;
      }

      .Login_Title_Des{
        /*width:100%;
        text-align: right;*/
        font-size: 10pt;
        color: #757575;
      }

      .Login_Container{
        font-size: 11pt !important;
        margin-top: 30px;
      }

      .user_input{
        margin-bottom: 30px !important;
      }

  </style>
{% endblock %}

{% block navbar_css_index %}{% endblock %}
{% block navbar_css_course %}{% endblock %}
{% block navbar_css_new %}{% endblock %}
{% block navbar_css_files %}{% endblock %}

{% block navbar_css_m_index %}{% endblock %}
{% block navbar_css_m_course %}{% endblock %}
{% block navbar_css_m_new %}{% endblock %}
{% block navbar_css_m_files %}{% endblock %}

{% block body_tag %}onload="RESIZE();"  onresize="RESIZE()"{% endblock %}


{% block content %}
<div class="container" style="padding-top: 30px;">
    
      <div class="row">
          <div class="col s12 m12">
            <div id="login_care" class="card horizontal">
              <div class="card-image" style="width:100%; text-align: center;">
                <img src="{% static 'images/login.png' %}">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <div class="Login_Title">
                      <p class="Login_Title_Che">會員登入<span class="Login_Title_Eng">Login</span></p>
                      <p class="Login_Title_Des">Coper File歡迎您的使用</p>
                  </div>


                  <div class="Login_Container">
                    <form>

                        <div class="input-field">
                          <i class="material-icons prefix">account_circle</i>
                          <input class="user_input validate" id="user_account" name="user_account" type="text" placeholder="請輸入帳號 Account">
                        </div>

                        <div class="input-field " style="margin-top: -20px;">
                          <i class="material-icons prefix ">lock</i>
                          <input class="user_input validate" id="user_password" name="user_password" type="password" placeholder="請輸入密碼 Password">
                        </div>

                        <p style="margin-top: -10px;"> 
                          <label>
                            <input type="checkbox" />
                            <span>記住我 <font style="font-size: 8px;">Remember</font></span>
                          </label>
                        </p>

                    </form>
                    
                  </div>


                  
                  
                </div>
                <div class="card-action" >
                  <a class="waves-effect waves-light btn-large  brown darken-4" style="width: 100%;"><div style="max-width: 90px; margin: auto; "><i class="material-icons left" style="margin-right: 0px;">check_circle</i>登入</div></a>
                </div>
              </div>
            </div>
          </div>
      </div> 

    <br><br>
  </div>
{% endblock %}